body {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    padding-top: 4em;
}
p {
    margin: 2em 0;
}

img {
    width: 40em;
    max-width: 90%;
}

nav {
    background-color: #333;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

section {
    padding: 2em;
    margin: 2em 0;
    background-color: #f4f4f4;
    border-radius: 8px;
}

h2 {
    color: #333;
}

